In [15]:
import pandas as pd
from sqlalchemy import create_engine

# CSV 파일 불러오기
df = pd.read_csv("school_info_refined_0504.csv")  # UTF-8 인코딩을 꼭 확인하세요

# 컬럼명 매핑 (한글 → 영문)
df.columns = [
    "program_type", "institution", "id", "region", "country",
    "korean_name", "english_name", "credit_requirement", "language_requirement",
    "notes", "available_courses", "website", "special_notes",
    "language_region", "available_majors"
]

# 불필요한 image 컬럼은 없으므로 따로 제외할 필요 없음

# SQLAlchemy 엔진 생성 (DB 접속정보 수정)
engine = create_engine("mysql+pymysql://shinhodeung10:tlsghemd1234@shinhodeung.cpm6oaem01lq.ap-northeast-2.rds.amazonaws.com:3306/exchange_db?charset=utf8mb4")


# university 테이블에 INSERT
df.to_sql("university", con=engine, if_exists='append', index=False)

338