In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# CSV 파일 불러오기
df = pd.read_csv("school_info_refined_0504.csv")  

# 컬럼명 매핑 (한글 → 영문)
df.columns = [
    "program_type", "institution", "id", "region", "country",
    "korean_name", "english_name", "credit_requirement", "language_requirement",
    "notes", "available_courses", "website", "special_notes",
    "language_region", "available_majors"
]

# 불필요한 image 컬럼은 없으므로 따로 제외할 필요 없음

# SQLAlchemy 엔진 생성 (DB 접속정보 수정)
engine = create_engine("mysql+pymysql://shinhodeung10:tlsghemd1234@shinhodeung.cpm6oaem01lq.ap-northeast-2.rds.amazonaws.com:3306/exchange_db?charset=utf8mb4")


# university 테이블에 INSERT
# df.to_sql("university", con=engine, if_exists='append', index=False)

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry 'E0009' for key 'university.PRIMARY'")
[SQL: INSERT INTO university (program_type, institution, id, region, country, korean_name, english_name, credit_requirement, language_requirement, notes, available_courses, website, special_notes, language_region, available_majors) VALUES (%(program_type)s, %(institution)s, %(id)s, %(region)s, %(country)s, %(korean_name)s, %(english_name)s, %(credit_requirement)s, %(language_requirement)s, %(notes)s, %(available_courses)s, %(website)s, %(special_notes)s, %(language_region)s, %(available_majors)s)]
[parameters: [{'program_type': '일반교환', 'institution': '자매대학', 'id': 'E0009', 'region': '북미', 'country': '캐나다', 'korean_name': '퀘백대, 몬트리올', 'english_name': 'Université du Québec, Montréal', 'credit_requirement': '-', 'language_requirement': 'D-1', 'notes': '· 위치: Montreal, Quebec, Canada\n· 특징: Quebec 州 에 위치한 연구 중심 공립 대학\n· 학생 수 약 44,000명, 등록금 약 CAD 8,200/학기\n· 캐나다 경영대학 순위 10위권 내\n· #601-800 THE World University Rankings 2020', 'available_courses': '· 수학가능학과: Arts, Communication, Education, Management, Political Science and Law, Science, Social Science\n· 수강가능과목(2024): https://etudier.uqam.ca/cours-pour-tous\n· 각 과목의 수강요건 확인 필요', 'website': 'https://uqam.ca/', 'special_notes': '· 프랑스어 필수\n· 2학기만 파견 가능', 'language_region': '프랑스어', 'available_majors': "['경영/경제', '공학/기술', '교육학', '법학', '사회과학', '예술/디자인', '자연과학', '커뮤니케이션/미디어']"}, {'program_type': '일반교환', 'institution': '자매대학', 'id': 'E0010', 'region': '유럽', 'country': '그리스', 'korean_name': '아테네경제경영대', 'english_name': 'Athens University of Economics and Business', 'credit_requirement': '-', 'language_requirement': 'IELTS 6.0\nTOEFL(iBT) 80', 'notes': '· 위치: Athens\n· 특징: 학생 수 약 3,000명\n· #801-1,000 QS Global World Ranking 2020', 'available_courses': '· 수학가능학과: International & European Economic Studies, Economics, Management Science & Technology, business Administration, Accounting and Finance, Marketing & Communication, Informatics, Statistics\n· 수강가능과목(2022-2023): 국제팀 홈페이지_커뮤니티_자매대학소개_첨부파일(List of Courses Offered in English) 참조', 'website': 'https://www.aueb.gr/en/content/international-relations-office', 'special_notes': '· TOEIC/TOEFL ITP 제외', 'language_region': '영어(유럽)', 'available_majors': "['경영/경제', '공학/기술', '자연과학', '커뮤니케이션/미디어']"}, {'program_type': '일반교환', 'institution': '자매대학', 'id': 'E0013', 'region': '유럽', 'country': '네덜란드', 'korean_name': 'HZ대', 'english_name': 'HZ University of Applied Sciences', 'credit_requirement': '-', 'language_requirement': 'TOEFL(iBT) 80\nIELTS 6.0\nTOEIC 960', 'notes': '· 위치: Vlissingen\n· 특징: 학생 수 약 4,800명\n· 네덜란드 대학 순위 39위 (Edu Rank 2022)\n· 2011년부터 5년 연속 응용 과학 상위 3개 종합 대학에 선정\n· 2015년 the third best institute for higher professional education in the Netherlands으로 선정', 'available_courses': '· 수학가능학과: Chemistry, Civil Engineering, Engineering, Global Project and Change Management, Industrial Engineering & Management, Information & Communi ... (15 characters truncated) ... gy, International Business, Logistics Engineering, Tourism Management, Water Management\n· 수강가능과목: https://hz.nl/en/study-programmes?page=2&forms=886', 'website': 'https://hz.nl/en/exchange-programmes', 'special_notes': '· TOEFL ITP 제외\n· 홈에디션 제외\n· TOEIC Listening, Reading 670 이상\n· TOEIC Speaking, Writing 290 이상', 'language_region': '영어(유럽)', 'available_majors': "['경영/경제', '공학/기술', '관광/호텔/레저', '자연과학', '커뮤니케이션/미디어']"}, {'program_type': '일반교환', 'institution': '자매대학', 'id': 'E0014', 'region': '유럽', 'country': '네덜란드', 'korean_name': '라드바우드대', 'english_name': 'Radboud University', 'credit_requirement': '법학과 수업을 36학점 이상 취득', 'language_requirement': 'TOEFL(iBT) 80\nIELTS 6.0\nTOEIC 1200', 'notes': '· 위치: Nijmegen\n· 특징: 연구 중심 공립 대학\n· 학생 수 약 23,000명\n· 본교에서 최소 두 학년 이상 수학한 자\n· 영어강의목록: http://bit.ly/1xDxVvA\n· #128 THE World University Rankings 2020\n· #24 THE European Teaching Rankings 2019', 'available_courses': '· 수학가능학과: Law\n· 수강가능과목(2024): https://www.ru.nl/law/students/pagina/prospective-exchange-students/course-offer-exchange-students/semester-2-spring-29-january-15-july-2024/', 'website': 'https://www.ru.nl/en/education/more-education-and-training/courses-for-exchange-students, https://www.ru.nl/law/students/exchange-students-law/exchange-students-law/', 'special_notes': '· TOEIC Listening, Reading 865 이상\n· TOEIC Speaking, Writing 335 이상', 'language_region': '영어(유럽)', 'available_majors': "['법학']"}, {'program_type': '일반교환', 'institution': '자매대학', 'id': 'E0015', 'region': '유럽', 'country': '네덜란드', 'korean_name': '삭시온대', 'english_name': 'Saxion University of Applied Sciences', 'credit_requirement': '-', 'language_requirement': 'TOEFL(iBT) 80\nIELTS 6.0\nTOEIC 960', 'notes': '· 위치: Enschede, Deventer, Apeldoom\n· 특징: 연구 중심 공립 대학\n· 학생 수 약 27,000명\n· 쿼터제', 'available_courses': '· 수학가능학과: Creative Media and Game Technologies, Fashion and Textile Technologies, Hotel Management, International Business, International Finance and ... (59 characters truncated) ... 학가능과목(2024): https://www.saxion.edu/programmes?page=3&searchQuery=&facet_Education+type=exchange&facet_Language=engels&facet_Education+start=februari', 'website': 'https://www.saxion.edu/programmes/exchange-programme/international-business', 'special_notes': '· 토플 홈에디션 인정\n· 토플 마이베스트스코어 인정 불가\n· TOEIC Listening, Reading 670 이상\n· TOEIC Speaking, Writing 290 이상', 'language_region': '영어(유럽)', 'available_majors': "['경영/경제', '공학/기술', '관광/호텔/레저', '교육학', '예술/디자인', '커뮤니케이션/미디어']"}, {'program_type': '일반교환', 'institution': '자매대학', 'id': 'E0016', 'region': '유럽', 'country': '네덜란드', 'korean_name': '티오대', 'english_name': 'Tio University of Applied Sciences', 'credit_requirement': '-', 'language_requirement': '영어(유럽) B-2', 'notes': '· 위치: Amsterdam, Rotterdam, Eindhoven, Utrecht\n· 특징: 학생 수 약 2,000명\n· 캠퍼스: Tio campus Amsterdam, Tio campus Utrecht', 'available_courses': '· 수학가능학과:\n· (모듈 종류)Hospitality management, International tourism management, Commercial business, Elective Courses\n· 파견기간별 모듈명 상이함\n· 하단 링크참조, 일정 과목으로 구성된 모듈 선택하여 수강\n· 수강가능과목(2024): https://www.tio.nl/en/exchange/course-catalogue/\n· Factsheet "Course catalouge" 참고', 'website': 'http://www.tio.nl/en/studychoice/exchange', 'special_notes': None, 'language_region': '영어(유럽)', 'available_majors': "['경영/경제', '공학/기술', '관광/호텔/레저']"}, {'program_type': '일반교환', 'institution': '자매대학', 'id': 'E0017', 'region': '유럽', 'country': '네덜란드', 'korean_name': '헤이그대', 'english_name': 'The Hague University of Applied Sciences', 'credit_requirement': '-', 'language_requirement': '영어(유럽) A-2', 'notes': '· 위치: The Hague\n· 특징: 연구 중심 공립 대학\n· 학생 수 약 26,000명', 'available_courses': '· 수학가능학과:\n· Faculty of Business, Finance&Marketing\n· International Business\n· Faculty of Technology, Innovation & Society\n· Technology, Innovation and Society\n· 일부과목 수강가능\n· 수강가능과목(2021):\n· https://www.thehagueuniversity.com/programmes/other-courses/exchange-programmes/what-can-i-study', 'website': 'https://www.thehagueuniversity.com/programmes/other-courses/exchange-programmes', 'special_notes': '· TOEIC/TOEFL ITP 제외', 'language_region': '영어(유럽)', 'available_majors': "['경영/경제', '공학/기술']"}, {'program_type': '일반교환', 'institution': '자매대학', 'id': 'E0018', 'region': '유럽', 'country': '덴마크', 'korean_name': 'UCSYD', 'english_name': 'University College South Denmark', 'credit_requirement': '-', 'language_requirement': 'TOEFL(iBT) 83\nIELTS 6.5', 'notes': '· 위치: Esbjerg, Kolding, Haderslev, Aabenraa and Sønderborg\n· 특징: 학생 수 약 7,500명', 'available_courses': '· 수학가능학과: Teaching, Social Education\n· 파견학기별 수학가능학과가 변경될 수 있음\n· 수강가능과목(2024): https://www.ucsyd.dk/english/incoming-students → Programmes 참고', 'website': 'https://www.ucsyd.dk/international', 'special_notes': None, 'language_region': '영어(유럽)', 'available_majors': "['교육학']"}  ... displaying 10 of 338 total bound parameter sets ...  {'program_type': '특별', 'institution': '자매대학', 'id': 'S04', 'region': '아시아', 'country': '중국', 'korean_name': '동화대', 'english_name': 'Donghua University (东华大学)', 'credit_requirement': '-', 'language_requirement': 'A-2\nB-2', 'notes': '· 중국 상해에 위치\n· 기숙사 : 약 1,500위안/월 (2인실 기준)\n· 등록금 예상비용: 17,000위안', 'available_courses': '· 수학가능학과: Field Study 학기 / 영어+중국어 학기 / 국제학부 참가학기 / 인턴학기 중 하나의 프로그램 선택\n· http://cafe.naver.com/donghuadaxue(7+1 특별 프로그램 안내)', 'website': 'http://ices.dhu.edu.cn', 'special_notes': None, 'language_region': '영어(비유럽), 중국어', 'available_majors': "['직접확인']"}, {'program_type': '교환학생+인턴십', 'institution': '자매대학', 'id': 'I02', 'region': '북미', 'country': '미국', 'korean_name': '샌프란시스코주립대', 'english_name': 'San Francisco State University', 'credit_requirement': '-', 'language_requirement': 'A-4', 'notes': '· Hospitality Management Program: 학기당 본교생 최대 2명은 학기당 $4,330만 납부\n· 본 프로그램 본래 등록금: 약 $13,400 (두 학기) (※ 상기 안내된 장학금 및 등록금은 변동 가능합니다)\n· 1년 프로그램 수학 시 수료증 취득 및 1년간 샌프란시스코에서 인턴십 활동 가능', 'available_courses': '· 수학가능학과: Liberal & Creative Arts, Business, Education, Ethnic Studies, Health and Social Sciences, Science and Engineering\n· 수강가능과목(2020):\n· http://bulletin.sfsu.edu/programs/', 'website': 'https://future.sfsu.edu/', 'special_notes': '· TOEIC, ITP 제외\n· 단, IELTS는 A2 이상 지원 가능', 'language_region': '영어(비유럽)', 'available_majors': "['경영/경제', '공학/기술', '교육학', '보건/생명과학', '사회과학', '예술/디자인', '자연과학']"}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [4]:
import pandas as pd
from sqlalchemy import create_engine

# CSV 파일 불러오기
df2 = pd.read_csv("reports.csv")

# 컬럼명 매핑
df2.columns = [
    "index", "before_departure", "after_arrival", "campus_life", "university_intro",
    "impression", "file_name", "department", "student_id", "year",
    "name", "university", "program_type", "study_period"
]

df2 = df2.drop(columns=["index"])  # index 컬럼 제거

# SQLAlchemy 엔진 생성
engine = create_engine("mysql+pymysql://shinhodeung10:tlsghemd1234@shinhodeung.cpm6oaem01lq.ap-northeast-2.rds.amazonaws.com:3306/exchange_db?charset=utf8mb4")

# DB에 insert (append)
df2.to_sql("reports", con=engine, if_exists='append', index=False)

770