In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# CSV íŒŒì¼ ë¶ˆëŸ¬ì˜¤ê¸°
df = pd.read_csv("school_info_refined_0504.csv")  

# ì»¬ëŸ¼ëª… ë§¤í•‘ (í•œê¸€ â†’ ì˜ë¬¸)
df.columns = [
    "program_type", "institution", "id", "region", "country",
    "korean_name", "english_name", "credit_requirement", "language_requirement",
    "notes", "available_courses", "website", "special_notes",
    "language_region", "available_majors"
]

# ë¶ˆí•„ìš”í•œ image ì»¬ëŸ¼ì€ ì—†ìœ¼ë¯€ë¡œ ë”°ë¡œ ì œì™¸í•  í•„ìš” ì—†ìŒ

# SQLAlchemy ì—”ì§„ ìƒì„± (DB ì ‘ì†ì •ë³´ ìˆ˜ì •)
engine = create_engine("mysql+pymysql://shinhodeung10:tlsghemd1234@shinhodeung.cpm6oaem01lq.ap-northeast-2.rds.amazonaws.com:3306/exchange_db?charset=utf8mb4")


# university í…Œì´ë¸”ì— INSERT
# df.to_sql("university", con=engine, if_exists='append', index=False)

In [12]:
import pandas as pd
from sqlalchemy import create_engine, text

# CSV íŒŒì¼ ë¶ˆëŸ¬ì˜¤ê¸°
df2 = pd.read_csv("reports_cleaned_final.csv")

# ì»¬ëŸ¼ëª… ì¬ì •ì˜
df2.columns = [
    "index", "before_departure", "after_arrival", "campus_life", "university_intro",
    "impression", "file_name", "department", "student_id", "year",
    "name", "university", "program_type", "study_period"
]
df2 = df2.drop(columns=["index"])

# DB ì—°ê²°
engine = create_engine("mysql+pymysql://shinhodeung10:tlsghemd1234@shinhodeung.cpm6oaem01lq.ap-northeast-2.rds.amazonaws.com:3306/exchange_db?charset=utf8mb4")

# report í…Œì´ë¸” ìƒì„±
with engine.connect() as conn:
    conn.execute(text("""
        CREATE TABLE report (
            id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
            before_departure TEXT,
            after_arrival TEXT,
            campus_life TEXT,
            university_intro TEXT,
            impression TEXT,
            file_name VARCHAR(255),
            department VARCHAR(255),
            student_id VARCHAR(50),
            year VARCHAR(10),
            name VARCHAR(50),
            university VARCHAR(255),
            program_type VARCHAR(50),
            study_period VARCHAR(50)
        ) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
    """))
    print("âœ… report í…Œì´ë¸”ì´ ì„±ê³µì ìœ¼ë¡œ ìƒì„±ë˜ì—ˆìŠµë‹ˆë‹¤.")

# ë°ì´í„° ì‚½ì…
df2.to_sql("report", con=engine, if_exists='append', index=False)
print("ğŸ“¦ ë°ì´í„° ì‚½ì… ì™„ë£Œ.")

âœ… report í…Œì´ë¸”ì´ ì„±ê³µì ìœ¼ë¡œ ìƒì„±ë˜ì—ˆìŠµë‹ˆë‹¤.
ğŸ“¦ ë°ì´í„° ì‚½ì… ì™„ë£Œ.